
<div class="pageContainer animated fadeInUp">
<div class="clip"></div>
<div class="spacer20"></div>
  <% if params[:type] == 'new' %>
    <h2>Congratulation on finding a new home!</h2>
    <h5>Tell us about your new lease</h5>
  <% elsif params[:type] == 'past' %>
    <h1>Add a past lease</h1>
  <% else %>
    <h1>Add a lease</h1>
  <% end %>
  <%= render 'new_lease_form' %>
  <%= link_to 'Back', leases_path %>
</div>