@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Sniglet);

html {
  box-sizing: border-box;
  font-size: 50%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #FFF;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.65em;
  font-weight: 400;
  line-height: 1.70;
  margin: 0;
  text-align: center;
  background-image: url("");
  background-image: asset-url("/assets/town.png", image)
  background-repeat: repeat-x;
  min-height: 100vh;
  background-color: rgba(40, 50, 62, 1.0);
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.topNav {
  display: table;
  width: 100%;
  min-height: 60px;
  background-color: #47a3da;
  color: #FFF;
  text-align: left;
}

.topNav span {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5em;
  padding: 0 17px;
  font-family: Sniglet;
  font-weight: 700;
}
.topNav span i {
  margin-right: 5px;
}

.topNav span:last-child {
  text-align: right;
}

blockquote {
  border-left: 0.3rem solid #d1d1d1;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
}

.inverse blockquote {
  background-color: rgba(255, 255, 255, 0.16)
}

blockquote *:last-child {
  margin: 0;
}


.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  font-weight: 700;
  height: 4.4rem;
  line-height: 4.3rem;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.button:hover, .button:focus,
button:hover,
button:focus,
input[type='button']:hover,
input[type='button']:focus,
input[type='reset']:hover,
input[type='reset']:focus,
input[type='submit']:hover,
input[type='submit']:focus {
  background-color: #606c76;
  border-color: #606c76;
  color: #ffffff;
  outline: 0;
}

.button.button-clear:hover, .button.button-clear:focus,
button.button-clear:hover,
button.button-clear:focus,
input[type='button'].button-clear:hover,
input[type='button'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='submit'].button-clear:hover,
input[type='submit'].button-clear:focus {
  color: #FFFFFF;
  background-color: #606c76;
}

pre {
  background: #f4f5f6;
  border-left: 0.3rem solid;
  font-family: Menlo, Consolas, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace;
}

code {
  background: #f4f5f6;
  border-radius: 0.4rem;
  font-size: 86%;
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  white-space: nowrap;
}

pre > code {
  background: transparent;
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}


input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(244, 245, 246, 1.0);
  border: none;
  border-radius: 0.4rem;
  box-shadow: none;
  box-sizing: border-box;
  height: 3.8rem;
  padding: 0.6rem 1rem;
  width: 100%;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;  
          outline: 0;
}

textarea {
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  min-height: 6.5rem;
}

label,
legend {
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

.label-inline {
  font-weight: normal;
  display: inline-block;
  margin-left: 0.5rem;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 5vw;
  position: relative;
  width: 100%;
}

@media (min-width: 45rem) {
  .container {
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;
    width: 100%;
  }
}

@media (min-width: 60rem) {
  .container {
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 15vw;
    padding-right: 15vw;
    position: relative;
    width: 100%;
  }
}

@media (min-width: 100rem) {
  .container {
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 20vw;
    padding-right: 20vw;
    position: relative;
    width: 100%;
  }
}

.grid {
  display: block;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  min-height: 40px; }
  @media (max-width: 960px) {
    .grid {
      width: 94%; } }
  .grid-fluid {
    width: 100%; }

.row {
  display: block;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px; }
  .row:after {
    content: " ";
    clear: both;
    display: table;
    line-height: 0; }

.col-1 {
  width: 6.33%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-1 {
      width: 98%; } }

.col-2 {
  width: 14.66%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-2 {
      width: 98%; } }

.col-3 {
  width: 22.99%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-3 {
      width: 98%; } }

.col-4 {
  width: 31.33%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-4 {
      width: 98%; } }

.col-5 {
  width: 39.66%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-5 {
      width: 98%; } }

.col-6 {
  width: 47.99%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-6 {
      width: 98%; } }

.col-7 {
  width: 56.33%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-7 {
      width: 98%; } }

.col-8 {
  width: 64.66%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-8 {
      width: 98%; } }

.col-9 {
  width: 72.99%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-9 {
      width: 98%; } }

.col-10 {
  width: 81.33%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-10 {
      width: 98%; } }

.col-11 {
  width: 89.66%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-11 {
      width: 98%; } }

.col-12 {
  width: 97.99%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-12 {
      width: 98%; } }

.lease-tiles {
  margin-bottom: 15px;
  text-align: left;
}

.lease-tiles * {
  margin-bottom: 0;
  text-align: left;
}

.lease-tiles div {
  padding: 0;
  background: #FFF;
  color: rgba(40, 50, 62, 1.0);
  border-radius: 6px;
  min-height: 50px; 
}

.lease-tiles .heading {
    background: #3594cb;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 4px 0 0 4px;
    padding: 11px 16px;
    white-space: nowrap;
    overflow: hidden;
}

.lease-tiles .details {
    padding: 13px;
}

.lease-tiles .review {
    background: rgba(155, 204, 112, 1.0);
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
    float: right;
    width: 51px;
    padding: 13px 0 0 19px;
}

@media (max-width: 500px) {
  .lease-tiles .heading {
    width: 100%; 
    border-radius: 4px 4px 0 0; }
  
  .lease-tiles .review {
    width: 100%; 
    border-radius: 0 0 4px 4px; 
    padding: 11px; } 

  .lease-tiles .review i:before {
    content: 'Add review';
    display: inline-block; 
    font-family: Sniglet; }

  .lease-tiles * {
    width: 100%; 
    text-align: center; }
}

.ellipsed {
  background-color: rgba(239, 99, 100, 1.0);
  border-radius: 2.5rem;
  display: inline-block;
  font-size: 60%;
  padding: 0.5rem 1.4rem;
  /* line-height: 2rem; */
  vertical-align: top;
  margin: 0.6rem 1rem 0rem 1rem;
}

a {
  text-decoration: none;
}
a:hover {
  color: #606c76;
}

dl,
ol,
ul {
  margin-top: 0;
  padding-left: 0;
}
dl ul,
dl ol,
ol ul,
ol ol,
ul ul,
ul ol {
  font-size: 90%;
  margin: 1.5rem 0 1.5rem 3rem;
}

dl {
  list-style: none;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

dt,
dd,
li {
  margin-bottom: 1rem;
}

hr {
  border-top: 0.1rem solid #f4f5f6;
  border-width: 0;
  margin-bottom: 3.5rem;
  margin-top: 3rem;
}

.button,
button {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}


table {
  background: none;
  border-collapse: collapse;
  margin: 1.25em 0 0;
  width: 100%;
}

table tr,
table th,
table td {
  border: none;
  font-family: 'Lato', sans-serif;
}

table th,
table td {
  padding: 10px 12px;
  text-align: left;
}

table th {
  background: #0d77b6;
  color: #ffffff;
  text-transform: uppercase;
}

table th:first-child {
  border-radius: 3px 0 0 0;
}

table th:last-child {
  border-radius: 0 3px 0 0;
}

table tr td {
  background: #3594cb;
}

table tr:nth-of-type(2n+2) td {
  background: #6cbfee;
}

table.bt tfoot th,
table.bt tfoot td,
table.bt tbody td {
  padding: 0;
}

table.bt tfoot th:before,
table.bt tfoot td:before,
table.bt tbody td:before {
  background: #56a2cf;
  color: white;
  margin-right: 10px;
  padding: 2px 10px;
}

table.bt tfoot th .bt-content,
table.bt tfoot td .bt-content,
table.bt tbody td .bt-content {
  display: inline-block;
  padding: 2px 5px;
}

table.bt tfoot th:first-of-type:before,
table.bt tfoot th:first-of-type .bt-content,
table.bt tfoot td:first-of-type:before,
table.bt tfoot td:first-of-type .bt-content,
table.bt tbody td:first-of-type:before,
table.bt tbody td:first-of-type .bt-content {
  padding-top: 10px;
}

table.bt tfoot th:last-of-type:before,
table.bt tfoot th:last-of-type .bt-content,
table.bt tfoot td:last-of-type:before,
table.bt tfoot td:last-of-type .bt-content,
table.bt tbody td:last-of-type:before,
table.bt tbody td:last-of-type .bt-content {
  padding-bottom: 10px;
}

/*
 * Example 4:
 * Media query over js resize
 */
@media only screen and (max-width: 568px) {
  #table-no-resize thead {
    display: none;
  }

  #table-no-resize tbody td {
    border: none !important;
    display: block;
    padding: 0;
    vertical-align: top;
  }

  #table-no-resize tbody td:before {
    background: #56a2cf;
    content: attr(data-th) ": ";
    color: white;
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    padding: 2px 10px;
    width: 6.5em;
  }

  #table-no-resize tbody td .bt-content {
    display: inline-block;
    padding: 2px 5px;
  }

  #table-no-resize tbody td:first-of-type:before,
  #table-no-resize tbody td:first-of-type .bt-content {
    padding-top: 10px;
  }

  #table-no-resize tbody td:last-of-type:before,
  #table-no-resize tbody td:last-of-type .bt-content {
    padding-bottom: 10px;
  }
}

/*
 * Example 5:
 * Two axis styling
 */
table.two-axis tr td:first-of-type {
  background: #cadde1;
}

@media only screen and (max-width: 568px) {
  table.two-axis tr td:first-of-type,
  table.two-axis tr:nth-of-type(2n+2) td:first-of-type,
  table.two-axis tr td:first-of-type:before {
    background: #3584b3;
    color: #ffffff;
  }

  table.two-axis tr td:first-of-type {
    border-bottom: 1px solid #e4ebeb;
  }

  table.two-axis tr td:first-of-type:before {
    padding-bottom: 10px;
  }
}

/*
 * Example 6:
 * Max height
 */
.bt-wrapper.active {
  margin-top: 1.5em;
}
.bt-wrapper.active table {
  margin: 0;
}


table {
  width: 100%;
}
.table {
  margin: 30px 0;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #e0e0e0;
}
.table caption {
  color: #333;
  font-style: italic;
  font-size: 85%;
  line-height: 1;
  padding: 1em 0;
  text-align: center;
}
.table td,
.table th {
  border-left: 1px solid #e0e0e0;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
  font-weight: normal;
}
.table td:first-child,
.table th:first-child {
  border-left-width: 0;
}
.table thead,
.table tfoot {
  background-color: #f05050;
  color: #fff;
  text-align: left;
  vertical-align: bottom;
}
.table thead td,
.table tfoot td,
.table thead th,
.table tfoot th {
  border-color: #fff;
}
.table td {
  background-color: transparent;
}
.table_striped tr:nth-child(2n-1) td {
  background-color: #ececec;
}
.table_bordered td {
  border-bottom: 1px solid #e0e0e0;
}
.table_bordered tbody > tr:last-child > td,
.table_bordered thead > tr:last-child > td {
  border-bottom-width: 0;
}
.table_horizontal td,
.table_horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #e0e0e0;
}
.table_horizontal tbody > tr:last-child > td,
.table_horizontal thead > tr:last-child > td {
  border-bottom-width: 0;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sniglet", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  letter-spacing: -0.1rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  letter-spacing: -0.1rem;
  line-height: 1.25;
}

h3 {
  font-size: 3rem;
  letter-spacing: -0.1rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.4rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: 1.4;
  font-weight: 400;
}

@media (min-width: 40rem) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4.2rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 3rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  h6 {
    font-size: 1.6rem;
  }
}
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/*COLORS*/

.button.button-small {
    font-size: 1.1rem;
    letter-spacing: 0.8px;
    font-weight: 700;
    height: 3rem;
    line-height: 3rem;
    padding: 0 2rem;
}

a {
  color: rgba(67, 74, 84, 1.0);
  background-color: rgba(183, 190, 196, 0.149);
} 

.button, 
button, 
input[type='button'], 
input[type='reset'], 
input[type='submit'] {
  background-color: #56a2cf;
  -webkit-appearance: none;
  border: none;
  box-shadow: inset 0px -2px 0px 0px rgba(2, 2, 2, 0.15);
}

.button.button-outline, 
button.button-outline, 
input[type='button'].button-outline, 
input[type='reset'].button-outline, 
input[type='submit'].button-outline,
.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
  color: rgba(67, 74, 84, 1.0);
  background-color: rgba(244, 245, 246, 1.0);
}

.button.button-black, 
button.button-black, 
input[type='button'].button-black, 
input[type='reset'].button-black, 
input[type='submit'].button-black {
  background-color: rgba(67, 74, 84, 1.0);
/*  border-color: #606c76;*/
  color: #ffffff;
  outline: 0;
}

.button.button-black:hover, 
button.button-black:hover, 
input[type='button'].button-black:hover, 
input[type='reset'].button-black:hover, 
input[type='submit'].button-black:hover {
  background-color: #606c76;
/*  border-color: #606c76;*/
  color: #ffffff;
  outline: 0;
}

/*END COLORS*/

blockquote,
pre,
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select,
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border-radius: 0.4rem;
}

.inverse, 
.inverse a {
  color: #ffffff;
}

.container.inverse code {
  background-color: rgba(255, 255, 255, 0.16);
}

.container.inverse pre {
  background-color: rgba(255, 255, 255, 0.16);
}

.container.inverse pre code {
  background-color: rgba(255, 255, 255, 0.0);
  border-color: rgba(255, 255, 255, 1.0)
}

.redBG {
  background-color: rgba(219, 68, 83, 1.0);
}

.orangeBG {
  background-color: rgba(215, 105, 53, 1.0)
}

.darkGreyBG {
  background-color: #606c76;
}

.lightGreyBG {
  background-color: rgba(244, 245, 246, 1.0);
}

.blackBG {
  background-color: rgba(40, 50, 62, 1.0);
}

.asphaltBG {
  background-color: rgba(52, 73, 94,1.0);
}

.blueBG {
  background-color: #56a2cf;
}

.whiteBG {
  background-color: rgba(255, 255, 255, 1.0);
}

.grid .column {
  background-color: rgba(255, 255, 255, 0.16);
  margin: 2px;
  border-radius: 3px;
  text-align: center;
  padding: 1rem 0;
}

.imageBG1 {
  background:
    linear-gradient(rgba(67, 74, 84, 0.7), rgba(67, 74, 84, 0.7)),
    url('https://images.unsplash.com/photo-1440964829947-ca3277bd37f8')
    no-repeat
    center / cover
    fixed;
}

.imageBG2 {
  padding-top: 40px;
  background:
    linear-gradient(rgba(47, 52, 59, 0.6), rgba(47, 52, 59, 0.6)),
    url('https://images.unsplash.com/32/90PZOijCSquhzM1A3cq8_photo.JPG')
    no-repeat
    center / cover
    }

.underSection {
  padding-bottom: 150px;
}

.overSection {
  top: -150px;
  margin-bottom: -150px;
}

.pageContainer {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 25px 0px;
  box-sizing: border-box;
  position: relative;
  margin-top: 35px;
  padding: 4vw 4vw;
  background: rgb(255, 255, 255);
  border: 18px solid #8c6239;
  outline: rgb(51, 51, 51) none 0px;
  border-radius: 20px;
  color: rgba(52, 73, 94,1.0);
}

.clip {
  background-image: asset-url("/assets/cliptop.svg", image)
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: -70px;
  width: 100%;
  height: 10rem;
}

.spacer20 {
  height: 20px;
  display: block;
}

@media (min-width: 45rem) {
  .pageContainer {
    margin-top: 75px;
    padding: 3vw 3vw;
    border-width: 25px;
  }
  .clip {
    height: 16rem;
    top: -114px;
  }
}
.navigation {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
  box-sizing: border-box;
  position: relative;
  /*margin: 0vw -3vw -150px -3vw;*/
  padding: 0.5vw 3vw;
/*  top: -150px;*/
  border: 0px none rgb(51, 51, 51); 
  outline: rgb(51, 51, 51) none 0px;
  border-radius: 25px;
}

.navigation ul {
  width: 100%;
  display: table;
  margin: 0px;
}

.navigation li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}



table.bt thead,
table.bt tbody th {
  display: none;
}

table.bt tfoot th,
table.bt tfoot td,
table.bt tbody td {
  border: none;
  display: block;
  vertical-align: top;
}

table.bt tfoot th:before,
table.bt tfoot td:before,
table.bt tbody td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

table.bt tfoot th.bt-hide,
table.bt tfoot td.bt-hide,
table.bt tbody td.bt-hide {
  display: none;
}

table.bt tfoot th .bt-content,
table.bt tfoot td .bt-content,
table.bt tbody td .bt-content {
  vertical-align: top;
}

.bt-wrapper.active {
  max-height: 310px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}