/* General styles for all menus */
.spmenu {
  background: #258ecd;
  position: fixed;
}

.spmenu .fa {
  width: 25px;
}

.spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 14px;
  margin: 0;
  font-weight: 700;
  background: #0d77b6;
  text-align: left;
}

.spmenu a {
  display: block;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.spmenu a:hover {
  background: #47a3da;
  color: #FFF;
}

.spmenu a:active {
  background: #FFF;
  color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.spmenu-vertical a {
  border-bottom: 1px solid #0d77b6;
  padding: 1em;
}

/* Vertical menu that slides from the left or right */

.spmenu-left {
  left: -240px;
}

.spmenu-left.spmenu-open {
  left: 0px;
}

/* Push classes applied to the body */

.spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.spmenu-push-toright {
  left: 240px;
}

/* Transitions */

.spmenu,
.spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

  .spmenu-top {
    top: -110px;
  }

  .spmenu-bottom {
    bottom: -110px;
  }

}

@media screen and (max-height: 26.375em){

  .spmenu-push-toright {
    left: 190px;
  }
}