<!DOCTYPE html>
<html>
<head>
  <title>Tenantnest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<h6>p.s. this is the dashboard layout</h6>
</body>
</html>
